
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
   
}

.search_title {
    margin-left: 5px;
}
.search-box{
    padding-left: 0;
    margin-left: 5px;
}

.food-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.food-group div {
    background-color: #e7f7e7;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.food-group h3 {
    margin-top: 0;
}

.food-group_lista {
    list-style-type: none;
    padding-left: 0;
}

.food-group_lista_detalle {
    margin: 8px 0;
    font-size: 18px;
    cursor: pointer;
}

