
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
   
}

main {
    text-align: center;
    padding: 1.5rem;
}

.search_title {
    padding: 1.25rem;
    text-align: center;
   
}

.search_box_container{
    text-align: center;
    color: black;
}


.search-box_button {
    font-family: Arial, sans-serif;
    padding: 10px 25px;
    background-color: #4CAF50;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
   
}



.search-box{
    padding-left: 0;
    margin-left: 0.3rem;
    color: black;
    width: 50%;
}

.food-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.food-group div {
    background-color: #e7f7e7;
    padding: 0.9rem;
    border-radius: 0.3rem;
    box-shadow: 0 0.1rem  0.3rem rgba(0, 0, 0, 0.1);
    text-align: center;
}

.food-group_titlelista{
    margin-top: 0;
}

.food-group_lista {
    list-style-type: none;
    padding-left: 0;
}

.food-group_lista_detalle {
    margin: 0.5rem 0;
    font-size: 1.15rem;
    cursor: pointer;
}

.search_Subtitle {
    color: #4CAF50;
}

