
header {
    background-color: #333;
    color: white;
    padding-top: 1.5rem;
    text-align: center;
    font-family: Arial, sans-serif;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1.25rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


/* Barra de navegación */
nav {
    background-color: #333;
    padding: 0.625rem 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 1.25rem;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.625rem;
    font-size: 1.125rem;
}

/* Efecto de hover en los enlaces del menú */
nav a:hover {
    background-color: #575757;
    border-radius: 0.3125rem;
}

/* Estilos del submenú (dropdown) */
.dropdown {
    position: relative;
}

.dropdown .dropbtn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 10rem;
    z-index: 1;
}

.dropdown-content a {
    padding: 0.75rem 1rem;
    display: block;
    color: white;
}

/* Efecto de hover en los elementos del submenú */
.dropdown-content a:hover {
    background-color: #575757;
}

/* Mostrar el submenú cuando el mouse pasa sobre el contenedor */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos del pie de página */
footer {
    text-decoration: none;
    text-align: center;
    padding: 1.25rem;
    background-color: #333;
    color: #fff;
    margin-top: 1.25rem;    
}

.privacidad-cookies {
    color: #fff;
}