/* Reset de márgenes y relleno */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

main {
    text-align: center;
    padding: 1.25rem;
}

.button {
    margin-top: 1rem;
    padding: 0.75rem 2.5rem;
    background-color: #4CAF50;
    color: #FFF;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-card {
    background-color: white;
    border-radius: 0.5rem;
    margin: 0.6rem;
    padding: 1rem;
    width: 15rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.recipe-card img {
    width: 100%;
    border-radius: 0.5rem;
}

.recipe-card h3 {
    font-size: 1.2em;
    margin-top: 0.6rem;
}

.recipe-card p {
    font-size: 1rem;
    color: #555;
}

.section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para el formulario de contacto */
.form {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form__label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form__input, .form__textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form__submit {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.75rem 2.5rem;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
}

/* Estilos responsive */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .hero div {
        text-align: center;
    }

    .beneficios {
        flex-direction: column;
        align-items: center;
    }

    .recipes {
        flex-direction: column;
        align-items: center;
    }

    .testimonios {
        text-align: center;
    }

    .newsletter {
        flex-direction: column;
        align-items: center;
    }

    .newsletter input {
        width: 100%;
        margin-bottom: 10px;
    }
}

