
.hero {
    background-image: url('https://api.spoonacular.com/recipes/complexSearch?query=lunch&type=lunch&cuisine=spanish&number=6&apiKey=${apiKey}');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
}

.section {
    padding: 50px 20px;
    text-align: center;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.beneficios,
.recipes {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.beneficio,
.recipe {
    background-color: #e7f7e7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.recipe-img {
    max-width: 100%;
}


.testimonios {
    background-color: #eee;
    padding: 50px 20px;
    text-align: center;
    margin: 1rem;
}

.testimonio {
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.testimonio p {
    font-style: italic;
}


.newsletter input {
    padding: 10px;
    width: 70%;
    border: solid 0.01rem;
    border-radius: 5px;
    margin-right: 10px;
}

